$mobile: "(max-width: 768px)";
$tablet: "(min-width: 769px) and (max-width: 1200px)";
$desktop: "(min-width: 1199px)";

header {

  width: 100%;
  height: 10rem;
  background-image: url("../../assets/sandAndStonePhoto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

@media #{$desktop,$tablet} {
  header {

    width: 100%;
    height: 18rem;
    background-image: url("../../assets/sandAndStonePhoto.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
}
